body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

.bg-info {
  float: right;
  margin-top: 20px;

}
.jumbotron {
  text-align: center;
  background-image: url("../img/background.jpg");
  font-weight: 800;
}
.jumbotron p {
  font-family: cursive;
  font-family:
  color: blue;

}
.container {
  background-color: #d9e5ee;
}
