body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

.bg-info {
  float: right;
  margin-top: 20px;

}
.jumbotron {
  text-align: center;
  background-image: url("../img/background.jpg");
  font-weight: 800;
}
.jumbotron p {
  font-family: cursive;
  font-family:
  color: blue;
}
.container {
  background-color: #d9e5ee;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.col-sm-4 {
  text-align: justify;
  background-color: #cfd4d8;
  border-style: outset;
  height: 650px;
}
.places h3 {
  text-align: center;
  color: #3c7486;
}
